# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore files/folders outside the current project root that were listed
# NOTE: You are working in C:\Users\USER\Downloads\devmubarak

../../.android/
../../.chocolatey/
../../.config/
../../.cursor/
../../.docker/
../../.emulator_console_auth_token
../../.gitconfig
../../.ipython/
# ... and so on for all the other ../../ files ...

# Also ignore common large files and folders in your current Downloads folder
*.exe
*.msi
*.zip
*.iso
*.har

# The folders right next to your project (in the Downloads folder)
-Getintopc.com-ArcGISPro_3.4.2/
CODSOFT/